.main-div {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.lawofficerCard {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.R3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.officer-sec {
    width: 100%;
    height: 85%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    overflow-y: scroll;
    gap: 1.11%;
}

.officer-sec::-webkit-scrollbar {
    display: none;
}

.box {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
    border-radius: 4px;
    border: 1px solid var(--Grey-100, #EEEFF1);
    background: var(--Whites-White-2, #FCFCFC);
}

.box-left {
    width: 86.21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.box-right {
    width: 8.28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.officer-info {
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.officer-name  {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--Grey-800, #383838);
    font-size: clamp(0.05375rem, 0rem + 0.86vw, 5.375rem);
    font-weight: 400;
}

.officer-id {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2%;
    color: var(--Grey-600, #8B8989);
    font-size: clamp(0.0390625rem, 0rem + 0.625vw, 3.90625rem);
    font-weight: 400;
}

.distance {
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
}

.distance-txt {
    height: 100%;
    display: flex;
    align-items:center;
    color: var(--Emergency-levels---IPAWS-Green, #00AC3A);
    font-size: clamp(0.05375rem, 0rem + 0.86vw, 5.375rem);
    font-weight: 400;
}

.img-sec {
    width: 60%;
}

.lower {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.lower .img-block {
    width: 15%;
    height: 100%;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.bg-1 {
    background: #F3F3F4;
    border-radius: 50%;
}

.img-2 {
    margin-left: 2%;
}

.bg-2 {
    background: #FFF3EB;
}

.bg-3 {
    background: #EBFCFF;
}

.bg-4 {
    background: #F6FFEB;
}

.bg-5 {
    background: #FFEBF8;
}

.lower img {
    width: 100%;
    height: 100%;
}

.lower .gap {
    width: 3%;
    height: 100%;
}

.line {
    width: 0.5%;
    height: 100%;
    background: #EEEFF1;
}

.box-right img{
    width: 50%;
    height: 30%;
}

.button-sec {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-sec button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: var(--Primary-colours-500---CTA, #06F);

    color: var(--Whites-White-3, #FBFDFF);
    font-size: clamp(0.05375rem, 0rem + 0.86vw, 5.375rem);
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.14px;
}

